@model Cart

@{
    ViewData["Title"] = "Shopping Cart";
}

@if (Model.Items.Count == 0)
{
    <div class="text-center">
        <h1 class="display-4">Your cart is empty!</h1>
        <hr />
        <a asp-controller="Products" asp-action="Index">Continue shopping</a>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Cart items</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        <form method="POST" asp-action="RemoveFromCart">
                            <input type="hidden" name="productId" value="@item.Product.Id" />
                            <input type="submit" class="btn btn-sm btn-danger" value="Remove" />
                        </form>
@*                         <a class="btn btn-sm btn-danger" asp-action="RemoveFromCart" asp-route-productId="@item.Product.Id">Remove</a>
 *@                    </td>
                    <td>
                        @item.Product.Name
                    </td>
                    <td>
                        @item.Product.Price.ToString("0.00") €
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.Total.ToString("0.00") €
                    </td>
                </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Total price:</b></td>
                <td>
                    <b>@Model.GrandTotal.ToString("0.00") €</b>
                </td>
            </tr>
    </table>

    <hr />
    <a class="btn btn-primary btn-lg float-start" asp-controller="Products" asp-action="Index">Continue shopping</a>
    <a class="btn btn-success btn-lg float-end">Order products</a>
}