@model IEnumerable<Product>

@{
    ViewData["Title"] = "Product list";
}

<h1>Product list</h1>

<div class="row mb-5">
    <div class="col-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filter by category
            </button>
            <ul class="dropdown-menu">
                @foreach (var category in ViewBag.Categories)
                {
                    <li><a class="dropdown-item" asp-action="Index" asp-route-categoryId="@category.Value">@category.Text</a></li>
                }
            </ul>
        </div>
    </div>
    <div class="col-2">
        <a asp-action="Index" class="btn btn-warning">Reset filter</a>
    </div>
</div>

<div class="row mt-3">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.Description</p>
                    <hr />
                    <label>Price: </label>
                    <p class="card-text"><strong>@item.Price.ToString("0.00") €</strong></p>

                    @* <a class="btn btn-primary">Add to cart</a> *@

                    <form method="post" asp-controller="Cart" asp-action="AddToCart">
                        <input type="hidden" name="productId" value="@item.Id" />
                        <input type="submit" class="btn btn-primary" value="Add to cart" />
                    </form>

                </div>
            </div>
        </div>
    }
</div>